body {
    font-family: 'Opens Sans', sans-serif;
    box-sizing : border-box;
}

.main-content {
    position   : relative;
    margin-left: 300px;
}

main {
    margin-top: 60px;
    background: #f1f5f9;
    min-height: 85vh;
    padding   : 1rem;
}

.active {
    margin-left: 80px;
}