.sidebar {
    width     : 300px;
    height    : 100%;
    top       : 0;
    position  : fixed;
    z-index   : 100;
    color     : #fff;
    background: #103D4A;

}


.sidebar__header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 60px;
    padding        : 0rem 1rem;
}


.sidebar__menu {
    padding: 1rem;
}

.sidebar__menu__item {
    margin-bottom: 1rem;
}

.sidebar__menu__link {
    color          : #fff;
    padding-left   : 1rem;
    font-size      : 1.1rem;
    text-decoration: none;
}


.sidebar__menu__item span {
    padding-left: 1rem;
}


.sidebar__menu__link span:hover {
    text-decoration: underline;
    font-size      : 1.2rem;
}


.inactive--sidebar {
    width: 80px;
}

.inactive--span {
    display: none;
}

.inactive--brand {
    display: none;
}

.header--inactive {
    padding: 0rem 2rem;
}