.sidebar {
    width     : 345px;
    height    : 100%;
    position  : fixed;
    background: #103D4A;
}

.sidebar-brand {
    height   : 100px;
    padding  : 3rem 0rem 1rem 2rem;
    color    : #fff;
    font-size: 2rem;
}

.sidebar__menu {
    margin-top   : 5px;
    margin-bottom: 5px;
}

.sidebar__menu__item {
    width        : 100%;
    margin-bottom: 1.7rem;
    padding-left : 1rem;
}

.sidebar__menu__item span,
a {
    color: #fff;
}

.sidebar__menu__item span {
    padding-left: 1rem;
}

.sidebar__menu__link {
    padding-left: 1rem;
    font-size   : 1.1rem;
}

.sidebar__menu__link span:hover {
    text-decoration: underline;
    font-size   : 1.2rem;
}
